
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 73vh;
   
}

  
  .label-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; /* Add spacing between each container */
}

.label-input-container label {
    width: 150px; /* Set a fixed width for labels to align them */
    margin-right: 10px; /* Space between the label and input */
    font-size: 20px;
  }

  .label-input-container input {
    width: 300px; /* Set a fixed width for inputs to align them */
    height: 2rem; /* Height of the input */
    padding: 3px; /* Padding inside the input */
    background-color: white; /* Background color of the input */
    border-radius: 5px; /* Border radius */
    box-shadow: 0px 0px 8px #ddd; /* Box shadow for a subtle effect */
    font-size: 1.25rem; /* Font size */
  }

  textarea{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #ddd;
    width: 300px;
    border: none;
  }

  textarea:focus{
    outline: none;
  }

  #poze{
    width:300px;
    height: 48px;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 0px;
  }

  .buton{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 8px #ddd;
    border: none;
  }

  .buton:hover{
    background-color: #008DDA;
    transition: 0.7s;
  }